@charset "UTF-8";
.service-page-settings,
.LPMcontainer {
  display: none !important;
}

.service-page {
  color: #3a3a3a;
}
.service-page .wrapper {
  display: block;
}
@media only screen and (min-width: 992px) {
  .service-page .wrapper {
    width: 91%;
  }
}
.service-page .worryfree-banner {
  position: relative;
}
.service-page .worryfree-banner .wrapper {
  width: 100%;
}
@media only screen and (min-width: 1400px) {
  .service-page .worryfree-banner .wrapper {
    max-width: none;
  }
}
@media only screen and (min-width: 1650px) {
  .service-page .worryfree-banner .wrapper {
    max-width: none;
  }
}
.service-page h1 {
  width: 100%;
  padding: 14px 0;
  margin: 0;
  display: block;
  position: absolute;
  top: 0;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  color: #FFFFFF;
  background-color: #FF4500;
  font-family: MuseoSans-300, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  text-align: center;
  z-index: 1;
}
@media only screen and (max-width: 768px) {
  .service-page h1 {
    padding: 14px 30px;
    font-size: 18px;
    line-height: 21px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .service-page h1 {
    font-size: 27px;
  }
}
.service-page h2 {
  font-family: MuseoSans-500, sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
}
.service-page h3 {
  font-family: MuseoSans-100, sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 34px;
  text-align: left;
}
.service-page p {
  margin: 0 0 20px;
  font-family: MuseoSans-300, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
}
.service-page p:nth-child(2) {
  margin: 0;
}
.service-page img {
  width: auto;
}
.service-page .partner-exist {
  display: none !important;
}
.service-page .why-choose-homeserve {
  position: relative;
  z-index: 2;
}
.service-page .why-choose-homeserve .wrapper {
  width: 86.3%;
}
.service-page .why-choose-homeserve .wrapper ul {
  height: auto;
  margin-bottom: 20px;
  overflow: visible;
  display: flex;
  flex-wrap: nowrap;
}
.service-page .why-choose-homeserve .wrapper ul li {
  width: 300px;
  min-height: 220px;
  float: left;
  margin: 6px;
  border-radius: 15px;
}
@media only screen and (max-width: 375px) {
  .service-page .why-choose-homeserve .wrapper ul li {
    width: 100%;
  }
}
@media only screen and (min-width: 375px) and (max-width: 414px) {
  .service-page .why-choose-homeserve .wrapper ul li {
    width: 323px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 900px) {
  .service-page .why-choose-homeserve .wrapper ul li {
    width: 691px;
    margin: 0 10px;
  }
}
@media only screen and (max-width: 768px) {
  .service-page .why-choose-homeserve .wrapper ul li {
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 900px) and (max-width: 992px) {
  .service-page .why-choose-homeserve .wrapper ul li {
    width: 380px;
    margin: 0 8px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .service-page .why-choose-homeserve .wrapper ul li {
    width: 432px;
    margin: 0 8px;
  }
}
@media only screen and (min-width: 1200px) {
  .service-page .why-choose-homeserve .wrapper ul li {
    width: 620px;
    margin: 0 32px;
  }
}
@media only screen and (max-width: 768px) {
  .service-page .why-choose-homeserve .wrapper ul {
    flex-wrap: wrap;
  }
}
.service-page .why-choose-homeserve .wrapper .slick-initialized {
  height: auto;
  margin-bottom: auto;
  overflow: visible;
  display: flex;
  flex-wrap: wrap;
}
.service-page .why-choose-homeserve .wrapper .slick-initialized li {
  height: 313px;
  padding: 24px 29px;
  background-color: #F9F9F9;
}
.service-page .why-choose-homeserve .wrapper .slick-initialized li.slick-slide {
  border: 1px solid #D1D1D1;
}
@media only screen and (max-width: 768px) {
  .service-page .why-choose-homeserve .wrapper .slick-initialized li {
    height: auto;
  }
}
@media only screen and (max-width: 375px) {
  .service-page .why-choose-homeserve .wrapper .slick-initialized li {
    width: 330px;
  }
}
@media only screen and (min-width: 390px) and (max-width: 540px) {
  .service-page .why-choose-homeserve .wrapper .slick-initialized li {
    width: 337px;
    margin: 0 33px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 992px) {
  .service-page .why-choose-homeserve .wrapper .slick-initialized li {
    height: 468px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .service-page .why-choose-homeserve .wrapper .slick-initialized li {
    width: 432px;
    height: 385px;
    margin: 0 8px;
  }
}
.service-page .why-choose-homeserve .wrapper .slick-initialized button.slick-next.slick-arrow,
.service-page .why-choose-homeserve .wrapper .slick-initialized button.slick-prev.slick-arrow {
  width: 30px;
  height: 30px;
  border: none;
  position: absolute;
  top: 29%;
  z-index: 1;
  background-color: transparent;
  cursor: pointer;
  text-indent: -99999px;
  transition: all 0.2s;
  outline: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.service-page .why-choose-homeserve .wrapper .slick-initialized button.slick-prev.slick-arrow {
  left: -5%;
  background: url(/en-us/assets/images/left.svg) center no-repeat;
}
.service-page .why-choose-homeserve .wrapper .slick-initialized button.slick-next.slick-arrow {
  right: -5%;
  background: url(/en-us/assets/images/right.svg) center no-repeat;
}
.service-page .why-choose-homeserve .wrapper .slick-initialized .slick-dots {
  height: auto;
  overflow: visible;
  padding: 36px 0;
  margin: auto;
  flex-wrap: unset;
}
.service-page .why-choose-homeserve .wrapper .slick-initialized .slick-dots li {
  width: 16px;
  min-height: unset;
  padding: 2px;
  border: 2px solid #BDBDBD;
  margin: 0 0 0 4px;
  border-radius: 50%;
  box-shadow: none;
}
.service-page .why-choose-homeserve .wrapper .slick-arrow.slick-disabled {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.service-page .why-choose-homeserve .wrapper .slick-arrow:focus, .service-page .why-choose-homeserve .wrapper .slick-arrow:hover {
  -webkit-filter: brightness(0);
  filter: brightness(0);
  opacity: 0.75;
  cursor: pointer;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.service-page .why-choose-homeserve .wrapper .slick-arrow:active, .service-page .why-choose-homeserve .wrapper .slick-arrow:focus {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.service-page .why-choose-homeserve .wrapper .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.service-page .why-choose-homeserve .wrapper .slick-dots li:first-child {
  margin-left: 0;
}
.service-page .why-choose-homeserve .wrapper .slick-dots li {
  width: 16px;
  height: 16px;
  padding: 2px;
  border: 2px solid #bdbdbd;
  border-radius: 50%;
  margin-left: 4px;
  display: inline-block;
  background: #fff;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.service-page .why-choose-homeserve .wrapper .slick-dots li.slick-active button {
  background: #e7342c;
}
.service-page .why-choose-homeserve .wrapper .slick-dots li button {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  border-radius: 50%;
  font-size: 0;
  display: block;
  background: 0 0;
  color: transparent;
  cursor: pointer;
  outline: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.service-page .why-choose-homeserve .wrapper .seo-customer-button {
  padding: 15px 30px;
  border-radius: 4px;
  border: 2px solid #007BC7;
  display: inline-block;
  background-color: #fff;
  color: #007BC7;
  font-family: MuseoSans-500;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.service-page .why-choose-homeserve .wrapper .seo-customer-button::after {
  content: "\f105";
  padding-left: 22px;
  font-size: 18px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.service-page .why-choose-homeserve .wrapper .seo-customer-button:active, .service-page .why-choose-homeserve .wrapper .seo-customer-button:focus, .service-page .why-choose-homeserve .wrapper .seo-customer-button:hover {
  text-decoration: none;
}
.service-page .why-choose-homeserve h2 {
  margin-top: 25px;
  color: #000000;
  font-family: MuseoSans-500, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  white-space: nowrap;
}
@media only screen and (max-width: 992px) {
  .service-page .why-choose-homeserve h2 {
    white-space: normal;
  }
}
@media only screen and (max-width: 768px) {
  .service-page .why-choose-homeserve h2 {
    font-size: 30px;
    line-height: 36px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .service-page .why-choose-homeserve h2 {
    font-size: 23px;
  }
}
.service-page .why-choose-homeserve .seo-customer-heading {
  text-align: center;
}
.service-page .why-choose-homeserve .seo-customer-heading p {
  color: #757575;
  font-family: MuseoSans-300, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}
.service-page .why-choose-homeserve .seo-customer-heading p img {
  display: inline-block !important;
}
.service-page .why-choose-homeserve .seo-customer-heading a {
  color: #007BC7;
}
.service-page .hvac-services {
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 1650px) {
  .service-page .hvac-services .wrapper {
    max-width: none;
  }
}
@media only screen and (min-width: 992px) {
  .service-page .hvac-services .wrapper {
    max-width: none;
    width: 91.7%;
    display: flex;
    column-gap: 27px;
  }
}
.service-page .hvac-services .wrapper .hvac-services-image img {
  height: 401px;
}
@media only screen and (min-width: 992px) {
  .service-page .hvac-services .wrapper .hvac-services-image img {
    border-radius: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .service-page .hvac-services .wrapper .hvac-services-image img {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .service-page .hvac-services .wrapper .hvac-services-image p {
    margin-right: 30px;
  }
}
@media only screen and (min-width: 992px) {
  .service-page .hvac-services .wrapper .hvac-services-content {
    width: 68%;
  }
}
@media only screen and (max-width: 768px) {
  .service-page .hvac-services .wrapper .hvac-services-content {
    width: 100%;
  }
}
.service-page .hvac-services .wrapper .hvac-services-content h3 {
  margin: -8px 0 7px;
  color: #000000;
  font-family: MuseoSans-500, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 54px;
}
@media only screen and (max-width: 768px) {
  .service-page .hvac-services .wrapper .hvac-services-content h3 {
    line-height: 36px;
  }
}
.service-page .hvac-services .wrapper .hvac-services-content p {
  color: #757575;
  font-family: MuseoSans-300, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}
.service-page .hvac-services .wrapper .hvac-services-content p:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 992px) {
  .service-page .hvac-services .wrapper .hvac-services-content p:last-child {
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 768px) {
  .service-page .hvac-services .wrapper .hvac-services-content > p:last-child {
    text-align: center;
  }
}
.service-page .hvac-services .wrapper .hvac-services-content ul {
  margin: 37px 0 58px;
}
.service-page .hvac-services .wrapper .hvac-services-content ul li {
  display: flex;
  column-gap: 15px;
}
.service-page .hvac-services .wrapper .hvac-services-content ul li::before {
  content: "•";
  margin-top: 5px;
  display: inline;
  color: #757575;
}
.service-page .hvac-services .wrapper .hvac-services-content ul li p {
  color: #757575;
  font-family: MuseoSans-300, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
}
@media only screen and (max-width: 768px) {
  .service-page .hvac-services .wrapper .hvac-services-content ul li p {
    text-align: left;
  }
}
@media only screen and (max-width: 768px) {
  .service-page .hvac-services .wrapper {
    width: 82% !important;
  }
}
.service-page .service-button {
  padding: 16px 37px 20px;
  border-radius: 4px;
  display: inline-block;
  background-color: #FF4500;
  color: #FFFFFF;
  font-family: MuseoSans-300, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 135%;
}
.service-page .service-button:hover {
  text-decoration: underline;
}
.service-page .feature-slider {
  padding: 0;
  position: relative;
  background-color: #F9F9F9;
  background: url(/en-us/assets/images/seo-page/services/rectangle-lower-curve.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: -70px;
  z-index: 1;
}
@media only screen and (min-width: 576px) {
  .service-page .feature-slider {
    padding: 40px 0 60px;
    background: url(/en-us/assets/images/seo-page/services/rectangle-lower-curve.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    top: -100px;
  }
}
.service-page .feature-slider .wrapper {
  width: 76%;
}
@media only screen and (min-width: 576px) {
  .service-page .feature-slider ul {
    padding: 125px 0 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}
.service-page .feature-slider ul li {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media only screen and (min-width: 576px) {
  .service-page .feature-slider ul li {
    width: 28%;
  }
}
.service-page .feature-slider ul li:last-child img {
  width: auto;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .service-page .feature-slider ul li:last-child img {
    /* IE10+ CSS styles go here */
    margin-bottom: 76px;
  }
}
.service-page .feature-slider ul li:nth-child(2) a {
  text-decoration: underline;
}
.service-page .feature-slider ul li:nth-child(2) a:hover {
  text-decoration: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.service-page .feature-slider ul li img {
  width: 25%;
  margin: 0 auto 20px;
}
@media only screen and (min-width: 768px) {
  .service-page .feature-slider ul li img {
    margin: 0 auto 40px;
  }
}
.service-page .feature-slider ul li h3 {
  color: #FF4500;
  font-family: MuseoSans-500, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .service-page .feature-slider ul li h3 {
    margin: 0 0 20px;
  }
}
.service-page .feature-slider ul li p {
  margin-bottom: 5px;
  font-family: MuseoSans-300, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #757575;
}
@media only screen and (min-width: 768px) {
  .service-page .feature-slider ul li p {
    margin-bottom: 14px;
  }
}
@media only screen and (max-width: 768px) {
  .service-page .feature-slider ul li p {
    font-weight: 300;
  }
}
.service-page .feature-slider ul li a {
  display: inline;
  color: #007BC7;
}
.service-page .feature-slider ul li a:hover {
  text-decoration: underline;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.service-page .feature-slider ul li .guarantee-text {
  color: #007BC7;
}
.service-page .feature-slider ul li:nth-child(2) p {
  font-family: MuseoSans-500, sans-serif;
}
.service-page .feature-slider ul li:last-child p {
  font-family: MuseoSans-500, sans-serif;
}
.service-page .feature-slider .slick-dots {
  margin: 36px 0;
}
@media only screen and (max-width: 768px) {
  .service-page .feature-slider {
    padding: 44px 0 25px;
    top: -18px;
    background-image: url(/en-us/assets/images/seo-page/services/reactangle-lower-curve-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.service-page .other-hvac-services {
  padding: 0 0 30px;
  margin: -70px 0 0;
  background-color: #007BC7;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .service-page .other-hvac-services {
    padding-bottom: 100px;
    margin-bottom: 52px;
  }
}
@media only screen and (min-width: 576px) {
  .service-page .other-hvac-services {
    margin-top: -151px;
  }
}
@media only screen and (min-width: 992px) {
  .service-page .other-hvac-services .wrapper {
    width: 38.3%;
  }
}
.service-page .other-hvac-services .wrapper h2 {
  padding-top: 13px;
  margin-top: 0;
}
.service-page .other-hvac-services .wrapper ul li {
  margin-bottom: 6px;
  border-radius: 4px;
  background-color: #F3F5F6;
  color: #3A3A3A;
}
.service-page .other-hvac-services .wrapper ul li h3 {
  font-size: 16px;
  font-family: MuseoSans-300, sans-serif;
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  .service-page .other-hvac-services .wrapper ul li h3 {
    font-size: 21px;
  }
}
.service-page .other-hvac-services .wrapper ul li a {
  padding: 16px 36px 16px 26px;
  position: relative;
  cursor: pointer;
}
.service-page .other-hvac-services .wrapper ul li a:after {
  content: "";
  width: 12px;
  height: 12px;
  border-top: 4px solid #757575;
  border-left: 4px solid #757575;
  position: absolute;
  right: 6%;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%) rotate(136deg);
  -webkit-transform: translateY(-50%) rotate(136deg);
  -moz-transform: translateY(-50%) rotate(136deg);
  -ms-transform: translateY(-50%) rotate(136deg);
  -o-transform: translateY(-50%) rotate(136deg);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
@media only screen and (min-width: 768px) {
  .service-page .other-hvac-services .wrapper ul li a:after {
    right: 4%;
  }
}
.service-page .other-hvac-services .wrapper ul li a:hover {
  color: #3a3a3a;
}
.service-page .hvac-features {
  padding-top: 146px;
  background: url(/en-us/assets/images/seo-page/services/zigzag-curve.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media only screen and (max-width: 576px) {
  .service-page .hvac-features {
    padding-bottom: 30px;
    background: url(/en-us/assets/images/seo-page/services/zigzag-curve.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.service-page .hvac-features .wrapper {
  width: 86.5%;
}
@media only screen and (max-width: 768px) {
  .service-page .hvac-features .wrapper {
    width: 88.5%;
  }
}
.service-page .hvac-features .wrapper h2 {
  padding: 0 20px;
  margin-bottom: 59px;
  color: #000000;
  font-family: MuseoSans-500, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 54px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .service-page .hvac-features .wrapper h2 {
    padding: 0;
    line-height: 36px;
  }
}
@media only screen and (min-width: 992px) {
  .service-page .hvac-features .wrapper ul {
    display: flex;
    justify-content: space-between;
  }
}
.service-page .hvac-features .wrapper ul li {
  width: 418px;
  height: 613px;
  margin: 0;
  border: 1px solid #D1D1D1;
  border-radius: 15px;
  background-color: #F9F9F9;
  box-sizing: border-box;
}
@media only screen and (min-width: 992px) {
  .service-page .hvac-features .wrapper ul li {
    width: 31.5%;
  }
}
@media only screen and (max-width: 768px) {
  .service-page .hvac-features .wrapper ul li {
    width: 100%;
    margin-top: 22px;
    height: auto;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .service-page .hvac-features .wrapper ul li {
    height: auto;
  }
}
.service-page .hvac-features .wrapper ul li h3 {
  margin: 15px 0 27px;
  color: #FF4500;
  font-family: MuseoSans-500, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .service-page .hvac-features .wrapper ul li h3 {
    padding: 0 35px;
  }
}
.service-page .hvac-features .wrapper ul li img {
  height: 261px;
}
.service-page .hvac-features .wrapper ul li p {
  color: #757575;
  font-family: MuseoSans-500, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
}
.service-page .hvac-features .wrapper ul li:last-child h3 {
  margin-bottom: 21px;
}
.service-page .hvac-features .wrapper ul li:last-child img {
  height: 128px;
}
.service-page .hvac-features .wrapper ul li:first-child h3 {
  margin-bottom: 20px;
  font-size: 21px;
}
@media only screen and (max-width: 768px) {
  .service-page .hvac-features .wrapper ul li:first-child h3 {
    font-size: 25px;
  }
}
.service-page .hvac-features .wrapper ul li:first-child img {
  height: 106px;
}
.service-page .hvac-features .wrapper ul li:first-child .service-button {
  margin-top: -9px;
  padding: 16px 49px 20px;
}
.service-page .hvac-features .wrapper ul li img {
  width: 100%;
  margin-bottom: 17px;
}
.service-page .hvac-features .wrapper ul li p {
  padding: 0 20px;
}
.service-page .hvac-features .wrapper ul li a:hover {
  text-decoration: underline;
}
.service-page .hvac-features .wrapper ul li:first-child p:last-child {
  margin-top: 38px;
}
@media only screen and (max-width: 768px) {
  .service-page .hvac-features .wrapper ul li:first-child p:nth-child(2) {
    padding: 0;
  }
}
.service-page .hvac-features .wrapper ul li:nth-child(2) p:nth-child(3) {
  padding: 0 20px 0 42px;
}
@media only screen and (max-width: 768px) {
  .service-page .hvac-features .wrapper ul li:nth-child(2) p {
    padding: 0;
  }
}
.service-page .hvac-features .wrapper ul li:nth-child(2) .service-button {
  padding: 16px 46px 20px;
}
.service-page .hvac-features .wrapper ul li:nth-child(3) p:nth-child(3) {
  padding: 0 28px;
}
.service-page .hvac-features .wrapper ul li:nth-child(3) p:nth-child(4) {
  margin-top: -1px !important;
}
@media only screen and (max-width: 768px) {
  .service-page .hvac-features .wrapper ul li:nth-child(3) p {
    padding: 0;
  }
}
.service-page .hvac-features .wrapper ul li:nth-child(3) .service-button {
  padding: 16px 60px 20px;
}
.service-page .hvac-features .wrapper ul li p:last-child {
  text-align: center;
}
.service-page .hvac-features .wrapper ul li:last-child p:last-of-type {
  margin: 42px 0 32px;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .service-page .hvac-features .wrapper ul li:last-child p:last-of-type {
    margin: 40% 0;
  }
}
@media only screen and (min-width: 1200px) {
  .service-page .hvac-features .wrapper ul li:last-child p:last-of-type {
    margin: 20% 0;
  }
}
.service-page .hvac-features .wrapper ul li .service-link {
  display: none;
  white-space: normal !important;
  color: #007bc7;
}
@media only screen and (max-width: 768px) {
  .service-page .hvac-features .wrapper ul li .service-link {
    display: inline-block;
  }
}
@media only screen and (max-width: 992px) {
  .service-page .hvac-features .wrapper ul li {
    width: auto;
    height: auto;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .service-page .hvac-features {
    padding-top: 112px;
    background: url(/en-us/assets/images/seo-page/services/zigzag-curve-mobile.png);
  }
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
  .service-page .hvac-features {
    padding-top: 38px;
  }
}
@media only screen and (max-width: 768px) {
  .service-page .hvac-features {
    margin-top: -71px;
  }
}
.service-page .hvac-customer-review {
  padding: 1px 0 0;
  margin: 75px auto 0;
  position: relative;
  background-color: #ECEAE6;
}
@media only screen and (min-width: 576px) {
  .service-page .hvac-customer-review {
    padding-top: 16px;
  }
}
@media only screen and (min-width: 1650px) {
  .service-page .hvac-customer-review {
    padding-top: 16px;
  }
}
.service-page .hvac-customer-review .wrapper {
  width: 90%;
}
@media only screen and (min-width: 768px) {
  .service-page .hvac-customer-review .wrapper {
    width: 72.8%;
  }
}
.service-page .hvac-customer-review .wrapper h2 {
  margin-top: -15px;
}
@media only screen and (min-width: 576px) {
  .service-page .hvac-customer-review .wrapper h2 {
    margin-top: 25px;
  }
}
.service-page .hvac-customer-review .wrapper > p {
  display: none;
  padding: 10px 0 45px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .service-page .hvac-customer-review .wrapper > p {
    display: block;
  }
}
.service-page .hvac-customer-review .wrapper ul {
  height: 220px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.service-page .hvac-customer-review .wrapper ul li {
  width: 100%;
  min-height: 220px;
  float: left;
  padding: 12px 12px 0 12px;
  margin: 6px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.03);
  background-color: #fff;
}
@media only screen and (min-width: 768px) {
  .service-page .hvac-customer-review .wrapper ul li {
    width: 48.5%;
  }
}
.service-page .hvac-customer-review .wrapper ul li .seo-customer-heading {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.service-page .hvac-customer-review .wrapper ul li .seo-customer-heading p:first-child {
  color: #222222;
  font-family: MuseoSans-500, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 19px;
}
@media only screen and (max-width: 768px) {
  .service-page .hvac-customer-review .wrapper ul li .seo-customer-heading p:first-child {
    font-weight: 400;
    line-height: 23px;
  }
}
.service-page .hvac-customer-review .wrapper ul li .seo-customer-heading p:last-child {
  color: #8A8A8A;
  font-family: MuseoSans-300, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  white-space: nowrap;
}
@media only screen and (max-width: 768px) {
  .service-page .hvac-customer-review .wrapper ul li .seo-customer-heading p:last-child {
    font-size: 14px;
    line-height: 16px;
  }
}
@media only screen and (max-width: 768px) {
  .service-page .hvac-customer-review .wrapper ul li .seo-customer-heading p {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
  }
}
.service-page .hvac-customer-review .wrapper ul li .seo-customer-heading + p {
  color: #222222;
  font-family: MuseoSans-500, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}
.service-page .hvac-customer-review .wrapper .slick-initialized {
  height: auto;
  overflow: visible;
}
.service-page .hvac-customer-review .wrapper .slick-initialized li.slick-slide {
  border: 1px solid #D1D1D1;
}
.service-page .hvac-customer-review .wrapper .slick-initialized button.slick-next.slick-arrow,
.service-page .hvac-customer-review .wrapper .slick-initialized button.slick-prev.slick-arrow {
  width: 30px;
  height: 30px;
  border: none;
  position: absolute;
  top: 29%;
  z-index: 1;
  background-color: transparent;
  cursor: pointer;
  text-indent: -99999px;
  transition: all 0.2s;
  outline: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.service-page .hvac-customer-review .wrapper .slick-initialized button.slick-prev.slick-arrow {
  left: -5%;
  background: url(/en-us/assets/images/left.svg) center no-repeat;
}
.service-page .hvac-customer-review .wrapper .slick-initialized button.slick-next.slick-arrow {
  right: -5%;
  background: url(/en-us/assets/images/right.svg) center no-repeat;
}
.service-page .hvac-customer-review .wrapper .slick-initialized .slick-dots {
  height: auto;
  overflow: visible;
  padding: 36px 0;
  margin: auto;
  flex-wrap: unset;
}
.service-page .hvac-customer-review .wrapper .slick-initialized .slick-dots li {
  width: 16px;
  min-height: unset;
  padding: 2px;
  border: 2px solid #BDBDBD;
  margin: 0 0 0 4px;
  border-radius: 50%;
  box-shadow: none;
}
.service-page .hvac-customer-review .wrapper .seo-customer-button {
  padding: 15px 30px;
  border-radius: 4px;
  border: 2px solid #007BC7;
  display: inline-block;
  background-color: #fff;
  color: #007BC7;
  font-family: MuseoSans-500;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.service-page .hvac-customer-review .wrapper .seo-customer-button::after {
  content: "\f105";
  padding-left: 22px;
  font-size: 18px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.service-page .hvac-customer-review .wrapper .seo-customer-button:active, .service-page .hvac-customer-review .wrapper .seo-customer-button:focus, .service-page .hvac-customer-review .wrapper .seo-customer-button:hover {
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  .service-page .hvac-customer-review {
    padding: 50px 0 0;
    margin: 0 0;
  }
}
@media only screen and (min-width: 768px) {
  .service-page .hvac-faqs {
    margin: 106px 0 100px;
    font-size: 18px;
    line-height: 28px;
  }
}
@media only screen and (min-width: 992px) {
  .service-page .hvac-faqs .wrapper {
    width: 41%;
  }
}
.service-page .hvac-faqs .wrapper h2 {
  color: #000000;
  font-family: MuseoSans-500, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .service-page .hvac-faqs .wrapper h2 {
    font-size: 26px;
  }
}
.service-page .hvac-faqs .wrapper .faq-question {
  width: 100%;
  position: relative;
}
.service-page .hvac-faqs .wrapper .faq-question h3 {
  padding: 18px 40px 18px 0;
  border-top: 1px solid #dedede;
  margin: 0;
  color: #007BC7;
  font-family: MuseoSans-500, sans-serif;
  font-weight: 400;
  cursor: pointer;
  text-align: left;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
}
@media only screen and (max-width: 768px) {
  .service-page .hvac-faqs .wrapper .faq-question h3 {
    font-size: 18px;
    line-height: 28px;
  }
}
.service-page .hvac-faqs .wrapper .faq-question:after {
  content: "";
  width: 16px;
  height: 16px;
  border-top: 2px solid #007BC7;
  border-left: 2px solid #007BC7;
  position: absolute;
  right: 2%;
  top: 40%;
  cursor: pointer;
  transform: translateY(-50%) rotate(224deg);
  -webkit-transform: translateY(-50%) rotate(224deg);
  -moz-transform: translateY(-50%) rotate(224deg);
  -ms-transform: translateY(-50%) rotate(224deg);
  -o-transform: translateY(-50%) rotate(224deg);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.service-page .hvac-faqs .wrapper .rotate-arrow:after {
  transform: translateY(-20%) rotate(45deg);
  -webkit-transform: translateY(-20%) rotate(45deg);
  -moz-transform: translateY(-20%) rotate(45deg);
  -ms-transform: translateY(-20%) rotate(45deg);
  -o-transform: translateY(-20%) rotate(45deg);
}
.service-page .hvac-faqs .wrapper .faq-answer {
  display: none;
  padding: 0 0 30px 0;
}
.service-page .hvac-faqs .wrapper .faq-answer p {
  color: #3A3A3A;
  font-family: MuseoSans-500, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}
@media only screen and (max-width: 768px) {
  .service-page .hvac-faqs .wrapper .faq-answer p {
    font-size: 18px;
    line-height: 28px;
  }
}
.service-page .hvac-faqs .wrapper .faq-answer a {
  display: inline;
  color: #007BC7;
  font-size: 22px;
  line-height: 26px;
  white-space: nowrap;
}
.service-page .hvac-faqs .wrapper .faq-answer a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 768px) {
  .service-page .hvac-faqs .wrapper .faq-answer a {
    font-size: 18px;
    line-height: 28px;
  }
}
.service-page .worryfree-mobile-service {
  padding: 20px 0;
  display: none;
  background-color: #FF4500;
}
.service-page .worryfree-mobile-service .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  column-gap: 50px;
}
.service-page .worryfree-mobile-service .wrapper p {
  margin: 0 0 0 40px;
  color: #FFFFFF;
  font-family: MuseoSans-300, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
}
.service-page .worryfree-mobile-service .wrapper img {
  width: 50px;
}
@media only screen and (max-width: 768px) {
  .service-page .worryfree-mobile-service {
    display: block;
  }
}
.service-page .hvac-cities {
  padding: 40px 0 26px;
  margin-top: 60px;
  background-color: #ECEAE6;
}
.service-page .hvac-cities .wrapper h2 {
  margin: 0 0 26px;
  color: #000000;
  font-family: MuseoSans-500, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .service-page .hvac-cities .wrapper h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
  }
}
.service-page .hvac-cities .wrapper ul {
  text-align: center;
}
.service-page .hvac-cities .wrapper ul li {
  width: 48%;
  height: fit-content;
  padding: 7px 0;
  margin: 0 auto 10px;
  border-color: #000;
  border-radius: 6px;
  display: inline-block;
  background-color: #3A3A3A;
  color: #ECEAE6;
  font-family: MuseoSans-300, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17.914px;
  line-height: 150%;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .service-page .hvac-cities .wrapper ul li {
    width: 19%;
  }
}
@media only screen and (min-width: 1200px) {
  .service-page .hvac-cities .wrapper ul li {
    width: 12%;
  }
}
@media only screen and (max-width: 768px) {
  .service-page .hvac-cities .wrapper ul li {
    width: 21%;
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
  }
}
@media only screen and (max-width: 768px) {
  .service-page .hvac-cities .wrapper ul {
    display: flex;
    flex-wrap: wrap;
  }
}
.service-page .product-blog {
  padding: 30px 0;
  background-color: #eceae6;
}
.service-page .product-blog .wrapper {
  width: 91%;
}
.service-page .product-blog ul {
  overflow: hidden;
  height: 450px;
}
.service-page .product-blog ul li {
  width: 30%;
  padding: 0 10px;
  float: left;
  min-height: 450px;
}
.service-page .product-blog ul li div {
  padding: 0 30px;
}
.service-page .product-blog ul.slick-initialized {
  overflow: visible;
  height: auto;
}
.service-page .product-blog ul.slick-initialized li.slick-slide {
  width: auto;
  padding: 0;
  margin: 39px 15px;
  float: left;
}
.service-page .product-blog ul.slick-dots {
  height: auto;
}
.service-page .product-blog ul.slick-dots li {
  float: none;
  min-height: 1px;
  width: 16px;
  padding: 2px;
}
.service-page .product-blog img {
  width: 100%;
  max-height: 190px;
  min-height: 190px;
}
.service-page .product-blog h3 {
  font-family: MuseoSans-500, sans-serif;
  font-weight: 700;
  text-align: center;
}
.service-page .product-blog h4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
}
.service-page .product-blog p {
  font-size: 14px;
  line-height: 1.6;
}
.service-page .product-blog a {
  color: #0096c8;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
}
.service-page .corona-update h2 {
  text-align: left;
}
.service-page a {
  white-space: nowrap !important;
}

.product-page-sticky-bar {
  background-color: #FF4500 !important;
  border-radius: 0 !important;
  z-index: 100 !important;
}
.product-page-sticky-bar .sticky-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.product-page-sticky-bar .sticky-services button {
  padding: 4px 3px 0;
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  background: transparent;
  color: #fff;
  cursor: pointer;
}
.product-page-sticky-bar .sticky-services button:hover {
  -webkit-animation-name: enlarge;
  animation-name: enlarge;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}
.product-page-sticky-bar .sticky-services button svg {
  width: 20px;
  height: 18px;
}
.product-page-sticky-bar a {
  display: inline;
  font-family: MuseoSans-300, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #FFFFFF;
}
.product-page-sticky-bar a:hover {
  color: inherit;
}
.product-page-sticky-bar .call-button-section {
  color: #fff;
  margin-left: 36px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.product-page-sticky-bar .call-button-section:hover .call-text,
.product-page-sticky-bar .call-button-section:hover button {
  -webkit-animation-name: enlarge;
  animation-name: enlarge;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}
.product-page-sticky-bar .call-button-section button {
  padding: 5px 7px;
}
.product-page-sticky-bar .call-button-section span.call-text {
  position: absolute;
  top: 29px;
  left: 14%;
  font-size: 12px;
}
@media only screen and (max-width: 768px) {
  .product-page-sticky-bar .desktop-text {
    display: none;
  }
}
.product-page-sticky-bar .mobile-text {
  display: none;
}
@media only screen and (max-width: 768px) {
  .product-page-sticky-bar .mobile-text {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
}
.product-page-sticky-bar .mobile-text .form-row {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.product-page-sticky-bar .mobile-text .form-row input {
  width: 50%;
  height: 34px;
}
.product-page-sticky-bar .mobile-text .form-row input::placeholder {
  font-size: 13px;
}
.product-page-sticky-bar .mobile-text .form-row label {
  font-size: 11px;
  white-space: nowrap;
}
.product-page-sticky-bar .zip-error, .product-page-sticky-bar .top-wrror {
  position: absolute;
  top: 75%;
  left: 15%;
  display: none;
  color: #e62419;
  font-size: 13px;
}
.product-page-sticky-bar .worryfree-zip-error {
  margin-left: 18%;
}
.product-page-sticky-bar .zip-code-label {
  font-size: 12px;
  white-space: nowrap;
}
@media only screen and (max-width: 768px) {
  .product-page-sticky-bar {
    padding: 10px 24px 3px;
    background-color: #007bc7 !important;
  }
}
.product-page-sticky-bar .zip-button {
  display: none;
}

.worryfree-page-image img {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .worryfree-page-image img {
    height: 225px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .worryfree-page-image img {
    height: 421px;
  }
}

.footer-content {
  padding: 12px 0 0;
}

.back-to-top {
  bottom: 90px !important;
}

.hide-for-mobile {
  font-family: MuseoSans-500, sans-serif !important;
}
@media only screen and (max-width: 768px) {
  .hide-for-mobile {
    display: none;
  }
}

.hide-for-desktop {
  display: none;
  font-family: MuseoSans-500, sans-serif !important;
}
@media only screen and (max-width: 768px) {
  .hide-for-desktop {
    display: inline-block;
  }
}
