$brand: #db022d;
$brand-hover: #c10329;
$nav-hover: #e43d30;
$carousel-btn: #e7342c;
$partner-btn: #e62419;
$sub-nav-hover: #c51013;
$btn-color: #e63d30;

$primary: #007bc7;

// rgba
$black-opacity-1: rgba(0, 0, 0, 0.1);
$black-opacity-25: rgba(0, 0, 0, 0.25);

$black: #000000;
$black-s1: #222222;
$black-s2: #2a2a2a;
$black-s3: #8a8a8a;

$gray: #3a3a3a;
$light-gray: #d8d8d8;
$light-gray-2: #f9f9f9;
$light-gray-3: #bdbdbd;
$light-gray-4: #dedede;
$light-gray-5: #e9ecef;

$white: #ffffff;
$white-s1: #f9f9f9;
$white-s2: #d1d1d1;

$list-bg: #eceae6;

$blue-hover: #0083af;
$placeholder-border: #16c5ff;
$btn-hover: #317bc7;
$blue-border: #46a8e7;
$review-hover: #0096c8;

// Footer
$footer-border: #757575;
$footer-bottom-bg: #5f5f5f;
$footer-top-bg: #eceae5;
$footer-nav-hover: #016eb0;
$error: #d64855;

// Font Families
$family-100: MuseoSans-100, sans-serif;
$family-300: MuseoSans-300, sans-serif;
$family-500: MuseoSans-500, sans-serif;
$family-700: MuseoSans-700, sans-serif;
$family-900: MuseoSans-900, sans-serif;
$family-1000: MuseoSans-1000, sans-serif;

// Breakpoints
$xsm: 376px;
$sm: 576px;
$md: 768px;
$mdlg: 900px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$large: 1650px;