<footer>
  <div class="en-us-footer footer-container">
    <div class="footer-content error">
      <div class="wrapper">
          <span>HomeServe is an independent company separate from your local utility or community.</span>
      </div>
    </div>
  </div>
</footer>