<footer class="energy-services-footer">
    <div class="wrapper">
        <div class="footer-links text-center">
            <ul class="footer-policy-links">
              <li>
                <a href="/en-us/legal/privacy-policy" title="opens in a new tab" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
              </li>
              <li>
                <a href="/sc/legal/terms-of-use" title="opens in a new tab" target="_blank" rel="noopener noreferrer">Terms of Use</a>
              </li>
              <li>
                <a href="/sc/legal/accessibility-statement" class="opens in a new tab" title="Accessibility Statement" target="_blank" rel="noopener noreferrer">Accessibility Statement</a>
              </li>
            </ul>
        </div>
        <div class="powered-by">
            <a href="https://www.bbb.org/us/ct/norwalk/profile/water-and-sewer-line-protection/homeserve-usa-corp-0111-87067998"
                title="opens in a new window" target="_blank" rel="noopener noreferrer">
                <img src="/en-us/assets/images/brands/trust-bbb-2.png" alt="BBB Accredited Business" />
            </a>
        </div>
    </div>
</footer>