<header class="error-header">
    <div class="wrapper">
    <!-- Logo -->
    <div class="logo">
      <a class='hide-on-canada' href="/en-us" title="{{ pageTitle }}">
        {% include "svgs/HomeServe®_Brand_Logo_PMS179C.svg" %}
      </a>
      <a class="show-on-canada display-none" href="{{ migrationData.canadaBaseUrl }}" title="HomeServe">
        {% include "svgs/Homeserve_Canada_TM_High_House_Logo_PMS179.svg" %}
      </a>
  </div>
</header>