.worryfree-footer {
  margin-top: -60px;
  background-color: #3A3A3A;
}
.worryfree-footer .wrapper {
  width: 81%;
  padding: 66px 0 80px;
}
.worryfree-footer .wrapper .worryfree-footer-text, .worryfree-footer .wrapper a, .worryfree-footer .wrapper span {
  color: #FFFFFF;
  font-family: MuseoSans-300, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
}
.worryfree-footer .wrapper .worryfree-footer-links {
  margin-top: 49px;
  display: flex;
  justify-content: center;
  column-gap: 6px;
}
.worryfree-footer .wrapper .worryfree-footer-links li a {
  display: inline;
}
.worryfree-footer .wrapper .worryfree-footer-links li::after {
  content: "";
  width: 1px;
  height: 10px;
  margin-left: 4px;
  display: inline-block;
  background-color: #FFFFFF;
}
.worryfree-footer .wrapper .worryfree-footer-links li:last-child::after {
  display: none;
}
@media only screen and (max-width: 768px) {
  .worryfree-footer .wrapper .worryfree-footer-links {
    flex-wrap: wrap;
  }
}
