---
layout: layouts/base-layout.njk
headerStyle: 'landing'
seoProductStyle: 'seo-claims-faq-page'
---
{% include "partials/_breadcrumb-claims.njk" %}

<div class="faq-page">
  <div class="faq-content">
    {{ content | safe }}
  </div>
</div>